
body{
    margin: 0;
    overflow: hidden;
}


/* --------------------------------- */

#ope_view_point 
{
    background: #222222;/* #31A9EE;*/
}

#ope_view_point ul
{
    margin:0 auto;
    padding: 0;
    /*border-right:#fff 1px solid;*/
    background-color:#222222/* #3ae*/;
    display: table;
    /*table-layout: fixed;*/
    /*text-align: center;*/
    width: 100%;
    overflow:hidden;
    list-style: none;/* リストの「・」を消す */
}

#ope_view_point li 
{
    float: left;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    width:calc( 25% - 2px);
    /*display: table-cell;*/
    vertical-align: middle;
    text-align: center;
}
#ope_view_point a:hover
{
    background: #00ffaa;
    color:#000000;
}

#ope_view_point a 
{
    color: #fff;
    display: block; /* ボックススタイルにして文字以外も押せるようにする */
    font-size: 12pt;
    text-decoration: none;
    padding: 10px 0;
}
/* --------------------------------- */

/* --------------------------------- */
/* checkbox02 */
input[type=checkbox] {
    display: none;
}
input[type="checkbox"].checkbox02:checked + label {
    background:#006DD9;/* #31A9EE;*/
    color: #ffffff;
}
.check_label {
    display: block;
    float: left;
    margin: 2px;
    margin-top:10px;/* 上のボタンとの間の隙間 */
    width: calc(25% - 8px);/* 4等分から、marginとborderを引いた幅 */
    text-align: center;
    height: 10px;
    line-height: 10px;
    cursor: pointer;
    /*color: #31A9EE;*/
    border: 2px solid #006DD9;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* --------------------------------- */

/*　スマホ用画面の設定 */    
@media only screen and (max-device-width: 480px) 
{    
    /* テーブルは差分だけ---------------- */
    
    #ope_view_point li 
    {
        padding-top: 10pt;
        padding-bottom: 10pt;
    }
    
    #ope_view_point li a 
    {
        font-size: xx-large;        
    }
    /* --------------------------------- */

    /* --------------------------------- */
    /* checkbox02 */
   .check_label {
        height: 45px;
        line-height: 45px;
        border-radius: 10px;
        font-size: xx-large;
    }
    /* --------------------------------- */
}